* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  background: #4B145B;
  color: #222;
}


.container {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 5rem;
  background-color: #fff;
  width: 58rem;
  height: 28rem;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 2px 12px -2px #a19f9f;
  border-radius: 5px;
  padding-top: 3rem;
}

.left-section {
  flex: 0 0 30%;
  font-weight: 100;

}
.left-section h1{
  font-weight: 500;
  margin-left: 1rem;

}


.question__card {
  flex: 0 0 60%;
  margin-right: 1rem;
}

.section {
  box-shadow: 1px 2px 20px -3px #dad4d4;
  border: 3px solid #EAE6EB;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.section p {
  font-size: 20px;
  color:  rgb(16, 42, 66);
  font-weight: 600;

}

button{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  color: rgb(250, 24, 24);
}

/* .card p {
  color: #817f7f;
  margin-bottom: 5px;
} */

